.contact-page {
  padding: 140px;
  text-align: center;
}

.contact-page h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-box {
  background: #f4f4f4;
  padding: 30px;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #0077b5;
}
