body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* .header {
  display: flex;
  padding: 1px 20px;
  background: #5e54ab;
  color: #fff;
}

.header a {
  color: #fff;
  text-align: right;
  margin-left: 30px;
  text-decoration: none;
} */


.main {
  padding: 140px 20px;
  text-align: center;
}


.footer {
  background: #541ab8;
  color: #fff;
  text-align: center;
  padding: 15px 300px;
  margin-top: 300;
}
